# Ballerina build artifacts
/target/

# Ballerina cache
/.ballerina/

# Ballerina logs
ballerina-internal.log
ballerina.log

# Environment variables
.env

# Docker volumes and data
docker-volumes/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

target/

testFiles/
reject/